#HomeSection {
    height: 90%;
    @include sections-spacing;
    margin-bottom: 3rem;

    .HomeImgColumn {
        padding: 3rem 3rem 0;
        display: flex;
        justify-content: center;

        .HomeImg {
            width: 18rem;
            height: 18rem;
            background: url('/assets/media/img/profile.png') no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            border: 1px solid #091540;
        }
    }  

    .BioColumn{
        padding: 3rem 3rem 0;
    }
}

#SkillSection {
    @include sections-spacing;
    margin-bottom: 6rem;

    .SkillTitles {
        display: none;
        visibility: hidden;
    }

    .SkillCardsContainer {
        border: 0.5px;
        border-radius: 60px 0;
        background-color: $azure-color;
        box-shadow: 0 1rem 1.5rem -0.45rem $blue-color;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;

        .SkillColumnLeft, .SkillColumnRight {
            display: flex;
            justify-content: center;
            padding: 3rem 3rem 0;

            .SkillCard {
                border-radius: 60px 0;
                width: 360px;
                height: 266px;
    
                .SkillCardImg {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

#ProjectsSection {
    @include sections-spacing;
    margin-bottom: 1rem;

    .ProjectsContainer {
        border-radius: 60px 0;
        padding: 0 0 3rem 1rem;
        display: flex;
        justify-content: center;
       
        .card {
            border-radius: 60px 0;
            margin: 0 0.5rem 3rem;

            .card-img-top {
                border-radius: 60px 0 0;
            }

            .card-body {
                .CardText {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

#ContactSection {
    @include sections-spacing;
    margin-bottom: 6rem;
}

// Media queries tablet
@media only screen and (min-width: 576px) and (max-width: 991px) {
    #SkillSection {    
        .SkillCardsContainer {    
            .SkillColumnLeft, .SkillColumnRight {
                display: flex;
                justify-content: center;
                padding: 3rem 0.25 0;
            }
        }
    }
    
    #ProjectsSection {
        .ProjectsContainer {       
            .ProjectsFirstColumn, .ProjectsSecondColumn, .ProjectsThirdColumn {
                display: flex;
                justify-content: center;

                .card {
                    width: 75%;
                }
            }    
        }
    }
}

// Media queries desktop
@media screen and (min-width: 992px) {
    #HomeSection {
        margin-bottom: 3rem;

        .HomeImgColumn{
            .HomeImg {
                width: 30rem;
                height: 30rem;
            }
        }

        .BioColumn {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-top: 6rem;
        }
    }

    #SkillSection {
        .SkillTitles {
            visibility: visible;
            display: flex;
            justify-content: center;
        }

        .CardsContainer {
            margin-top: auto;
            
            .SkillCard {
                width: 460px;
                height: 366px;
            }
        }
    }

    #ProjectsSection {
        margin-bottom: 6rem;

        .ProjectsContainer {
            padding-bottom: 3rem;

            .ProjectsSecondColumn, .ProjectsThirdColumn {
                display: flex;
                align-items: stretch;
            }

            .card {
                margin: 0.5rem;

                .card-img-top {
                    border-radius: 7px 7px 0 0;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
}